.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

#drag-item {
    width: 100px;
    height: 50px;
    background-color: #f1c40f;
    text-align: center;
    line-height: 50px;
}

#drop-target {
    width: 150px;
    height: 150px;
    background-color: #3498db;
    color: #fff;
    text-align: center;
    line-height: 150px;
}
